<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
		<dict>
			<key>PackageName</key>
			<string>Glass</string>
			<key>ThemeType</key>
			<string>Icons</string>
			<key>CalendarIconDateSettings</key>
			<dict>
				<key>FontSize</key>
				<integer>20</integer>
				<key>TextColor</key>
				<string>#ffffff</string>
				<key>TextYoffset</key>
				<real>6.0</real>
			</dict>
			<key>CalendarIconDaySettings</key>
			<dict>
				<key>FontSize</key>
				<integer>0</integer>
				<key>TextColor</key>
				<string>#b3b3b3</string>
			</dict>
		</dict>
	</plist>