body{
      margin:0;
      padding:0;
      font-weight:100;
      text-shadow:1px 1px 1px rgba(45,45,45,0.2);
      font-family:Cond;
      text-transform:uppercase;
      color:#f3f3f3;
      letter-spacing:1;
}
@font-face{
      font-family:Galano;
      src:url(Stuff/Galano.otf);
}
@font-face{
      font-family:Cond;
      src:url(Stuff/Cond.ttf);
}


#L{
       position:absolute; top:533.6px; left:26.25px; width:322.5px; height:1px; z-index:-50;
       background-color:#f2f2f2;
}
#C1{
       position:absolute; top:553.6px; left:37.5px; width:67.5px; height:67.5px; z-index:-80;
       background-color:none;
       border:solid 1.5 rgba(242,242,242,1);
       border-radius:100%;
       box-sizing:border-box;
       box-shadow:1px 1px 1px rgba(45,45,45,0.2);
}
#C2{
       position:absolute; top:553.6px; left:153.75px; width:67.5px; height:67.5px; z-index:-80;
       background-color:none;
       border:solid 1.5 rgba(242,242,242,1);
       border-radius:100%;
       box-sizing:border-box;
       box-shadow:1px 1px 1px rgba(45,45,45,0.2);
}
#C3{
       position:absolute; top:553.6px; left:270px; width:67.5px; height:67.5px; z-index:-80;
       background-color:none;
       border:solid 1.5 rgba(242,242,242,1);
       border-radius:100%;
       box-sizing:border-box;
       box-shadow:1px 1px 1px rgba(45,45,45,0.2);
}

#Clock{
       position:absolute; top:437px; left:0px; width:375px; text-align:center; z-index:50;
       font-size:20px; font-family:Galano; letter-spacing:5;
       opacity:0.9;
}

#weatherIcon{
       position:absolute; top:560px; left:44.25px; width:56.25px; z-index:50;
       -webkit-filter:drop-shadow(1px 1px 1px rgba(45,45,45,0.2));
}
#Weather{
       position:absolute; top:630px; left:30px; width:82.5px; text-align:center; z-index:50;
       font-size:13.125px; 
       work-break:normal;
}

#weekday{
       position:absolute; top:570px; left:153.75px; width:67.5px; text-align:center; z-index:50;
       font-size:47px; 
}
#Cal{
       position:absolute; top:630px; left:146.25px; width:82.5px; text-align:center; z-index:50;
       font-size:13.125px; 
}

#LevelDisplay{
       position:absolute; top:570px; left:270px; width:67.5px; text-align:center; z-index:50;
       font-size:47px; 
}
#StateDisplay{
       position:absolute; top:630px; left:262.5px; width:82.5px; text-align:center; z-index:50;
       font-size:13.125px; 
}


